<!DOCTYPE html>
<html>
 
<th:block th:replace="~{./baseLayout/base_m :: setContent( ~{ :: section} ) }">

  <section>

    <div class="section__header">

      <div class="section__header__content">

        <div class="section__header__left">
          <img src="/img/KBA_mascot_blackandwhite.png" alt="">
          <p>Let's go! 창의인성 바둑스쿨</p>
          <span>누구나 쉽게 배우고 따라하는 바둑세계</span>
        </div>

        <div class="section__header__right">
          <a href="https://textbookmedia.gimmyoung.com/baduk/" title="Let'go 창의인성 바둑스쿨!"><img src="/img/phone.png" alt="게임"></a>
          <div class="header__right__app">
          </div>
        </div>

      </div>

    </div>

    <!-- 튜토리얼 슬라이드 -->
    <div class="section__tutorial">
      <div class="section__tutorial__content">

        <div class="tutorial__left">
        <span>튜토리얼 <img src="/img/KBA_mascot_black.png" alt=""></span>
        <a href="/menu/eduVideo">더보기</a>
        </div>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><iframe width="370" height="250" src="https://www.youtube.com/embed/H0TPXsAg7mM?si=mrDnVppVQQ2IhZY5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="swiper-slide"><iframe width="370" height="250" src="https://www.youtube.com/embed/XKClDm0aefU?si=j5d55-lEqZkK83Mu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="swiper-slide"><iframe width="370" height="250" src="https://www.youtube.com/embed/j-aMwN3GFks?si=IF9bln2F9OUTu3ao" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="swiper-slide"><iframe width="370" height="250" src="https://www.youtube.com/embed/fUVep6kUxh0?si=gJDbVkTiv0H4GD3J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="swiper-slide"><iframe width="370" height="250" src="https://www.youtube.com/embed/6Dbzz2OXVjc?si=zc-rPE-J8Yapkk03" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="swiper-slide"><iframe width="370" height="250" src="https://www.youtube.com/embed/7TUfCBsEYi4?si=BCUPTCci1fdZwWQC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="swiper-slide"><iframe width="370" height="250" src="https://www.youtube.com/embed/Ijkno6ERXu4?si=xrfJ1opP6CVZhMFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

      </div>
    </div>

    <!-- 강의 슬라이드-->
    <div class="section__lecture">
      <div class="section__lecture__content">

        <div class="lecture__left">
        <span>유/무료 강의 <img src="/img/KBA_mascot_black2.png" alt=""></span>
        <a href="/admin/gameLook">더보기</a>
        </div>
        <div class="swiper">
          <div class="swiper-wrapper" >
            <div class="swiper-slide" th:each="gameContent:${gameContent}">
            	<img th:src="@{/display/{filepath}/{uuid}/{filename}(filepath=${gameContent.filepath},uuid=${gameContent.uuid},filename=${gameContent.filename})}">
            	<div class="swiper__title" th:text="${gameContent.game_title}"></div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

      </div>
    </div>

    <!-- 학습 그룹 슬라이드-->
    <div class="section__learning">
      <div class="section__learning__content">

        <div class="learning__left">
        <span>학습그룹 <img src="/img/KBA_mascot_black2.png" alt=""></span>
        <a href="/admin/learnLook">더보기</a>
        </div>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="Document:${Document}">
				<img th:src="@{/display/{filepath}/{uuid}/{filename}(filepath=${Document.filepath},uuid=${Document.uuid},filename=${Document.filename})}"  >
				<div class="swiper__title" th:text="${Document.docu_title}"></div>
			</div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

      </div>
    </div>

    <!-- 게시판 -->
    <div class="section__board">

      <div class="section__board__group">

        <div class="board__notice">

          <div class="notice__item__title">
            <span>공지사항</span>
          </div>

          <div class="notice__item__box">
          <th:block th:each="noticeVO:${noticeVO}">
            <div class="box__item"><a href="/menu/center" th:text="${noticeVO.notice_title}">공지사항1</a></div>
          </th:block>
          </div>

        </div>

        <div class="board__faq">

          <div class="faq__item__title">
            <span>FAQ</span>
          </div>

          <div class="faq__item__box">
          <th:block th:each="faqVO:${faqVO}">
            <div class="box__item"><a href="/menu/center" th:text="${faqVO.faq_question}">faq1</a></div>
          </th:block>
          </div>

        </div>

        <div class="board__qna">

          <div class="qna__item__title">
            <span>Q&A</span>
          </div>

          <div class="qna__item__box">
          <th:block th:each="qnaVO:${qnaVO}">
            <div class="box__item"><a href="/menu/center" th:text="${qnaVO.qna_title}">Q&A</a></div>
          </th:block>
          </div>

        </div>

      </div>
    </div>

    <!-- 바둑 뉴스 / 바둑 티비 -->
    <div class="section__etc">

      <div class="section__etc__content">

        <div class="etc__tv">

          <div class="etc__tv__title"><span>바둑 TV</span> <a href="https://www.tvbaduk.com/tv/tvPro_list.asp"><i class="fa-sharp fa-solid fa-plus"></i></a></div>
          <div class="etc__tv__content">
            <div class="etc__tv__item"><img src="/img/270_삼성화재배(2023).png" alt=""></div>
            <div class="etc__tv__item"><img src="/img/2023쏘팔_270.png" alt=""></div>
          </div>

        </div>

        <div class="etc__news">

          <div class="etc__news__title"><span>바둑 뉴스</span> <a href="https://baduk.or.kr/news/summary.asp"><i class="fa-sharp fa-solid fa-plus"></i></a></div>
          <div class="etc__news__content">
            <div class="etc__news__item"><img src="/img/서명 후 4개 단체 대표 단체사진.jpeg" alt="뉴스사진" title="서명 후 4개 단체 대표 단체사진"><p>한국기원, 국립 바둑 연수원 건립<br> <span>한국기원과 전라남도, 영암군, 대한바둑협회가 ‘국립 바둑연수원’ 건립을 위한 업무협약을 체결했다.</span></p> </div>
            <div class="etc__news__item"><img src="/img/이붕배 예선 전경dd.jpeg" alt="뉴스사진" title="이붕배 예선 전경"><p>스미레 등 7명, 이붕배 본선 진출!<br> <span>신예 최고기사는 누가 될 것인가.</span></p></div>
          </div>

        </div>


      </div>

    </div>


  </section>

</th:block>
 
 
 
</html>