<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">

<div class="wrap">
<script src="/js/frame/detailStudentLook.js" defer></script>
<link rel="stylesheet" href="/css/frame/detailStudentLook.css">
  <div class="wrap__content">
    <form action="" method="get" class="regist__wrap">

      <div class="ds__header">
        <div class="ds__header__title"><span>전체 학생 관리</span></div>
        <div class="ds__header__select">
          <select name="" id="ds__select">
            <option value="">정렬</option>
            <option value="가나다순">가나다순</option>
            <option value="레벨순">레벨순</option>
            <option value="강의별">강의순</option>
          </select>
        </div>
      </div>


      <div class="ds__body">

        <div class="ds__body__above">
          <div class="ds__thead">
            <div class="ds__thead__one">번호</div>
            <div class="ds__thead__two">이름</div>
            <div class="ds__thead__three">연락처</div>
            <div class="ds__thead__four">이메일</div>
            <div class="ds__thead__five">그룹가입일자</div>
          </div>
        </div>



        <div class="ds__body__below">

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>

          <div class="ds__collapsible">
            <div class="ds__tbody__one">1</div>
            <div class="ds__tbody__two">학생이름</div>
            <div class="ds__tbody__three">010-3333-4444</div>
            <div class="ds__tbody__four">student@naver.com</div>
            <div class="ds__tbody__five">2024-14-25</div>
          </div>
          <div class="ds__content">
            <p>학생 수업태도 및 관련 요약 평</p>
          </div>



        </div>

      </div>

    </form>
  </div>
</div>

</th:block>
</html>