<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">

<div class="wrap">
<link rel="stylesheet" href="/css/frame/groupRegistLook.css">
  <div class="wrap__content">
    <form action="" method="get" class="regist__wrap">

      <div class="grl__header">

        <div class="grl__header__title"><span>그룹 가입 상세 조회</span></div>

      </div>
      <div class="grl__body">
        <div class="grl__body__header">
          
          <div class="grl__bh__thead">
            <div class="grl__bht__zero">컨텐츠 이미지</div>
            <div class="grl__bht__one">게임 컨텐츠 명</div>
            <div class="grl__bht__two">게임 달성 레벨</div>
            <div class="grl__bht__three">게임 학습 기간</div>
            <div class="grl__bht__four">그룹 제한 인원</div>
            <div class="grl__bht__five">그룹가입 승인 인원</div>
          </div>

          <div class="grl__bh__tbody">
            <div class="grl__bbt__zero">나중에 사진 데이터<img src="/img/05_game_main.png" alt=""></div>
            <div class="grl__bbt__one">[[${info.groupdetail.game_title}]]</div>
            <div class="grl__bbt__two">[[${info.groupdetail.game_target_level}]]</div>
            <div class="grl__bbt__three">[[${info.groupdetail.sg_regdate} + '~' + ${info.groupdetail.game_sub_endDate}]]</div>
            <div class="grl__bbt__four">[[${info.groupdetail.game_title} + '명']]</div>
            <div class="grl__bbt__five">[[${info.groupdetail.game_title} + '명']]</div>
          </div>


        </div>

        <div class="grl__body__line"></div>

        <div class="grl__body__body">

          <div class="grl__bbb__title"><span>그룹가입내역</span></div>
          <div class="grl__bbb__thead">
            <div class="grl_bbbt__one">선택</div>
            <div class="grl_bbbt__two">번호</div>
            <div class="grl_bbbt__three">학생 이름</div>
            <div class="grl_bbbt__four">연락처</div>
            <div class="grl_bbbt__five">이메일</div>
            <div class="grl_bbbt__six">주소</div>
            <div class="grl_bbbt__seven">가입일자</div>
          </div>
          <div class="grl__bbb__tbody">

            <div class="grl__bbtb__wrap" th:each="boys, status : ${info.boys}">
              <div class="grl_bbtb__one"><input type="checkbox"></div>
              <div class="grl_bbtb__two">[[${status.index + 1}]]</div>
              <div class="grl_bbtb__three">[[${boys.user_name}]]</div>
              <div class="grl_bbtb__four">[[${0 + boys.user_phone}]]</div>
              <div class="grl_bbtb__five">[[${boys.user_email}]]</div>
              <div class="grl_bbtb__six">[[${boys.user_address}]]</div>
              <div class="grl_bbtb__seven">[[${boys.getUserRegDate()}]]</div>
            </div>



          </div>

        </div>

      </div>

    </form>
  </div>
</div>
  
</th:block>
</html>