/* 전체 공통 사항*/
html, body{margin: 0;padding: 0;font-family: "Gothic A1", sans-serif;}
ul, ol, li{list-style: none;}
button, a{cursor: pointer;}
button, a, li{color: black;}
a:link, a:hover, a:focus, a:visited{text-decoration: none;}
span, a, p, button, h1,h2,h3,h4,h5{font-family: "Gowun Dodum", sans-serif; font-weight: 400; font-style: normal;}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/


/* header */

.wrapper{width: 100%; display: flex; align-items: center; justify-content: center;}
.wrapper__header{width: 1245px; }
.wrapper__header__above{width: 100%; display: flex; justify-content: flex-end; padding: 10px 0px;}
.wrapper__header__above a, .wrapper__header__above div {font-family: "Gowun Dodum", sans-serif; font-weight: 600; padding: 0px 20px 0px 0px; cursor: pointer;}
.wrapper__header__below{width: 100%; height: 100px; display: flex; align-items: center;}
.wrapper__header__left{width: 30%; display: flex; align-items: center; justify-content: center;}
.wrapper__header__left img{width: 60%;}
.wrapper__header__right{width: 70%; height: 100%; display: flex; justify-content: flex-end;}
.header__right__item{width: 115px; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 16px; font-weight: 600; position: relative;}
.header__right__item:hover img{display: flex;}
.header__right__item img{width: 40px; position: absolute; top: 6px; left: 0; display: none;}
.item_sub img{width: 50px;}
.item_sub2 img{width: 35px;}
#myBtn{cursor: pointer; font-size: 15px; font-weight: 600; font-family: "Gowun Dodum", sans-serif;}



/* main modal 영역 */

#myBtn{cursor: pointer; font-size: 15px; font-weight: 600; font-family: "Gowun Dodum", sans-serif;}
.modal {display: none; position: fixed; z-index: 10; padding-top: 100px; left: 0;top: 0;width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.modal-content {background-color: #fefefe;margin: auto;padding: 20px;border: 1px solid #888;width: 80%;}
.modal__msg{display: flex; align-items: center; }

/* The Close Button */
.close {color: #aaaaaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,
.close:focus {color: #000;text-decoration: none;cursor: pointer;}


/* footer */
.footer__wrapper{width: 100%; height: 270px; background-color: rgb(53, 52, 52); display: flex; align-items: center; justify-content: center;} 
.footer__content{width: 1245px; height: 100%; display: flex; flex-direction: column;}

.footer__content__header{width: 100%; display: flex; margin-top: 40px;}
.footer__header__item{width: 120px; display: flex; align-items: center; justify-content: center;}
.footer__header__item a{color: rgb(212, 212, 212); font-size: 15px; }

.footer__content__body{width: 100%; margin-top: 40px;}
.footer__body__item{margin-left: 20px;}
.footer__body__item span{font-size: 13px; color: rgb(212, 212, 212);}