<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/js/student/groupRegistList.js" defer></script>
<link rel="stylesheet" href="/css/frame/groupRegistLook.css">
<link rel="stylesheet" href="/css/student/groupRegistList.css">

<th:block th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">

<div class="wrap">
  <div class="wrap__content">
      <div class="grl__header">

        <div class="grl__header__title"><span>그룹 가입 상세 조회</span></div>
        <div class="grl__header__select">
          <select name="" id="">
            <option value="none">학습 그룹 선택해주세요.</option>
            <option value="강남 초급반">강남 초급반</option>
            <option value="강남 초급반">강남 초급반</option>
            <option value="강남 초급반">강남 초급반</option>
            <option value="강남 초급반">강남 초급반</option>
            <option value="강남 초급반">강남 초급반</option>
            <option value="강남 초급반">강남 초급반</option>
          </select>
		
        </div>
        <div class="grl__header__btn">
          <button type="submit" id="groupApply" th:if="${auth == '0'}">가입신청</button>
          <button type="submit" id="groupApply" th:if="${auth == null}">가입신청</button>
          <div id="approvedMes" class="approved-mege" th:if="${auth == '1'}">이미 가입을 완료 하셨습니다.</div>
        </div>
        <div id="applyMessage" class="apply-message">그룹 스터디에 신청되었습니다.</div>
		<div id="processMessage" class="process-message">승인 절차가 진행 중입니다.</div>
		<input type="hidden" id="hiddenSg_No" th:value="${group.sg_no}" name="sg_no">
		<input type="hidden" id="hiddenUser_No" th:value="${session.vo.user_no}" name="user_no">
		<input type="hidden" id="hiddenSg_Level" th:value="${group.sg_level}" name="user_no">
		
		
      </div>
      <div class="grl__body">
        <div class="grl__body__header">
          
          <div class="grl__bh__thead">
            <div class="grl__bht__zero">컨텐츠 이미지</div>
            <div class="grl__bht__one">게임 컨텐츠 명</div>
            <div class="grl__bht__two">게임 달성 레벨</div>
            <div class="grl__bht__three">게임 학습 기간</div>
            <div class="grl__bht__four">그룹 제한 인원</div>
            <div class="grl__bht__five">그룹가입 승인 인원</div>
          </div>

          <div class="grl__bh__tbody">
            <div class="grl__bbt__zero">나중에 사진 데이터<img src="/img/05_game_main.png" alt=""></div>
            <div class="grl__bbt__one">[[${group.game_title}]]</div>
            <div class="grl__bbt__two">[[${group.sg_level}]]</div>
            <div class="grl__bbt__three">[[${group.sg_regdate} + '~' + ${group.sg_enddate}]]</div>
            <div class="grl__bbt__four">[[${group.sg_grouplimit} + '명']]</div>
            <div class="grl__bbt__five">[[${group.sg_capa} + '명']]</div>
          </div>

        </div>

      </div>
  </div>
</div>
  
</th:block>
</html>