<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
	defer></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	defer></script>
<script src="/js/student/homeworkTable.js" defer></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
	rel="stylesheet">

<th:block
	th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">

	<div class="wrap">
		<link rel="stylesheet" href="/css/student/homeworkTable.css">
		<div class="container">
			<h2>숙제 이력</h2>
			<table class="table">
				<thead class="thead-color">
					<tr>
						<th>번호</th>
						<th>homework_no</th>
						<th>제목</th>
						<th>내용</th>
						<th>제출 날짜</th>
						<th>숙제 제출</th>
						<th>제출 현황</th>
						<th>점수 확인</th>
					</tr>
				</thead>
				<tbody th:each="hw : ${hwList}">

					<tr th:if="${hw.teach_grade >= 2}">
						<td th:text="${hwStat.count}"></td>
						<td th:text="${hw.homework_no}"></td>
						<td th:text="${hw.homework_name}"></td>
						<td th:text="${hw.homework_content}"></td>
						<td th:text="${hw.homework_duedate}"></td>
						<td th:if="${hw.stu_content != null}">
							<h6>
								<span class="badge badge-primary">제출 완료</span>
							</h6>
						</td>
						<td th:if="${hw.stu_content == null}">
							<h6>
								<span class="badge badge-pill badge-danger"
									th:text=" '제출 D-' + ${hw.hwDuedate()}"></span>
							</h6>
						</td>

						<td>
							<h6>
								<span class="badge badge-success">평가 완료</span>
							</h6>
						</td>

						<td>
							<button id="myBtn">점수 확인</button>
						</td>

						<div id="myModal" class="modal">

							<div class="modal-content">

								<span class="close">&times;</span>
								<h1>축하합니다!!</h1>
								<h4
									th:text="${hw.teach_grade == 2} ? '당신은 보통을 받으셨습니다' : '당신은 ' + ${hw.teach_grade} + '를 받으셨습니다!!'"></h4>
								<h5>다음 레벨을 향해 계속 도전하세요!</h5>
								<canvas id="confeti" width="300" height="300" class="active">
								</canvas>
							</div>

						</div>

					</tr>

					<tr th:if="${hw.teach_grade < 2 && hw.teach_grade != null}"
						th:data-url="@{/student/homeworkList(user_no=${hw.user_no})}">
						<td th:text="${hwStat.count}"></td>
						<td th:text="${hw.homework_no}"></td>
						<td th:text="${hw.homework_name}"></td>
						<td th:text="${hw.homework_content}"></td>
						<td th:text="${hw.homework_duedate}"></td>
						<td th:if="${hw.stu_content != null}">
							<h6>
								<span class="badge badge-primary">제출 완료</span>
							</h6>
						</td>
						<td th:if="${hw.stu_content == null}">
							<h6>
								<span class="badge badge-pill badge-danger"
									th:text=" '제출 D-' + ${hw.hwDuedate()}"></span>
							</h6>
						</td>

						<td>
							<h6>
								<span class="badge badge-success">평가 완료</span>
							</h6>
						</td>

						<td>
							<button id="myBtn">점수 확인</button>
						</td>

						<div id="myModal" class="modal">

							<div class="modal-content">

								<span class="close">&times;</span>
								<h1>통과하지 못하셨습니다.</h1>
								<h4>
									<th:block th:if="${hw.teach_grade < 2}">
								        당신은 <span style="color: red;">미흡</span>을 받으셨습니다.
								    </th:block>
								</h4>
								<h5>계속해서 도전해 보세요!</h5>

							</div>

						</div>



					</tr>

					<tr th:if="${hw.teach_grade == null}"
						th:data-url="@{/student/homeworkList(user_no=${hw.user_no})}">
						<td th:text="${hwStat.count}"></td>
						<td th:text="${hw.homework_no}"></td>
						<td th:text="${hw.homework_name}"></td>
						<td th:text="${hw.homework_content}"></td>
						<td th:text="${hw.homework_duedate}"></td>
						<td th:if="${hw.stu_content != null}">
							<h6>
								<span class="badge badge-primary">제출 완료</span>
							</h6>
						</td>
						<td th:if="${hw.stu_content == null}">
							<h6>
								<span class="badge badge-pill badge-danger"
									th:text=" '제출 D-' + ${hw.hwDuedate()}"></span>
							</h6>
						</td>

						<td>
							<h6>
								<span class="badge badge-warning">평가 중</span>
							</h6>
						</td>

					</tr>


				</tbody>
			</table>
		</div>

	</div>

</th:block>
</html>