<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/student/homeworkTable.css">
    <link rel="stylesheet" href="/css/frame/groupRegistLook.css">
    <style>
    .progress-bar {
        width: 100%; 
        border: 1px solid black;
        background-color: #f0f0f0;
    }
    .progress-fill {
        height: 100%;
        background-color: black;
        text-align: center;
        color: white;
    }
    </style>
</head>
<body>
    <th:block th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">
    <div class="wrap">
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-color">
                        <tr>
                            <th>학습 그룹명</th>
                            <th>내용</th>
                            <th>진도율</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ></td>
                            <td ></td>
                            <td>
                                <div class="progress-bar">
                                    <div class="progress-fill" ></div>
                                    <progress value="70" max="100">70 %</progress>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </th:block>
</body>
</html>

</div>

</th:block>
</html>