<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./baseLayout/base_m :: setContent( ~{ :: section} ) }">

  <section>

    <div class="center__title"><span>고객센터</span></div>

    <div class="center__wrapper">

      <div class="center__wrapper__content">

        <div class="center__above">
          
          <div class="center__above__menu">
            <div class="center__menu__item" id="notice"><span><i class="fa-solid fa-pen"></i> 공지사항</span></div>
            <div class="center__menu__item" id="faq"><span><i class="fa-solid fa-question"></i> 자주묻는질문</span></div>
            <div class="center__menu__item" id="qna"><span><i class="fa-brands fa-waze"></i> Q&A</span></div>
          </div>

        </div>

        <!-- 공지사항 -->
        <div class="center__below__notice" >
        <th:block th:each="noticeVo:${noticeVo}">
          <button type="button" class="section__sub__menu"><i class="fa-solid fa-plus"></i><span th:text="${noticeVo.notice_title}">1</span></button>
          <div class="sub__menu__content"><div th:text="${noticeVo.notice_content}">내용1</div></div>
        </th:block>
        </div>

        <!-- 자주묻는질문 -->
        <div class="center__below__faq" >
        <th:block th:each="faqVo:${faqVo}">
          <button type="button" class="section__sub__menu"><i class="fa-solid fa-plus"></i><span th:text="${faqVo.faq_question}"></span></button>
          <div class="sub__menu__content"><div th:text="${faqVo.faq_answer}">내용1</div></div>
        </th:block>  
        </div>

        <!-- Q&A -->
        <div class="center__below__qna">
        <th:block th:each="qnaVo:${qnaVo}">
          <button type="button" class="section__sub__menu"><i class="fa-solid fa-plus"></i><span th:text="${qnaVo.qna_title}"></span></button>
          <div class="sub__menu__content"><div th:text="${qnaVo.qna_content}">답변</div></div>
        </th:block>
        </div>

      </div>

      <div class="center__footer">
        <span>문의하실 사항이 있으신가요?</span>
        <p>Q&A를 통해 문의 주시면</p>
        <span>빠른 시일 내로 답변 드리겠습니다.</span>
      </div>

    </div>


  </section>

</th:block>
</html>