<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./baseLayout/base_m :: setContent( ~{ :: section} ) }">

  <section>

    <div class="edu__title"><span>교육 영상</span></div>

    <!-- 튜토리얼 영상 -->
    <div class="edu__content">
      <div class="edu__content__wrapper">
        
        <div class="edu__content__title"><span>튜토리얼</span></div>
		
		<!-- 1~5 -->
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
				<iframe width="370" height="250" src="https://www.youtube.com/embed/H0TPXsAg7mM?si=mrDnVppVQQ2IhZY5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/XKClDm0aefU?si=j5d55-lEqZkK83Mu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/j-aMwN3GFks?si=IF9bln2F9OUTu3ao" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/fUVep6kUxh0?si=gJDbVkTiv0H4GD3J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/6Dbzz2OXVjc?si=zc-rPE-J8Yapkk03" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        
        <!-- 6~10 -->
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/7TUfCBsEYi4?si=BCUPTCci1fdZwWQC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/Ijkno6ERXu4?si=xrfJ1opP6CVZhMFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
				<iframe width="370" height="250" src="https://www.youtube.com/embed/ccns0GDXpP4?si=MNlPwcUMYGZf2DOf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
				<iframe width="370" height="250" src="https://www.youtube.com/embed/7qd3O9IDBEQ?si=cxkuhG8bZ2IuAkDy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/9RW03YwTUZw?si=iApjdCPPZMN4n6sV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        
		<!-- 11~15 -->
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/FwTw69U_Usw?si=VLaKaxCUgqktvwg3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/Ekqww63CqlA?si=D6ii2nRbRIEuwefV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/OjfGuT17CQM?si=a-mXI1t-xOPXOJlK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/HZkbSryEd3I?si=ugy4jiZlnespY30D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/gmf2dgHVAUI?si=I7ynsHSlBS7LOuSZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        
        <!-- 16~20 -->
        <div class="swiper">
          <div class="swiper-wrapper">
          	<div class="swiper-slide">
				<iframe width="370" height="250" src="https://www.youtube.com/embed/EgljHgBWd10?si=-3YkTbwp510_DZaP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/8uEPMkPBfO0?si=0oNChm5tJMpMroBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/CCgrYs5GVUQ?si=_ZaAKXmS4v7p94BD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/IuyzgHsvqIo?si=2_DM6idsoCqc9AYe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
            <div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/xHBb9eVKcXo?si=miY4gNdq4yGm1mzL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/fdQxr9zLW7I?si=Zr_hl5JTRI6adP-C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/zfvoT_fAmbs?si=0mOLbpyXZVJfQCJa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        
        <!-- 21~25 -->
        <div class="swiper">
          <div class="swiper-wrapper">
			<div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/fdQxr9zLW7I?si=Zr_hl5JTRI6adP-C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/zfvoT_fAmbs?si=0mOLbpyXZVJfQCJa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/MXUa21tpnGQ?si=Ue5a0SjPkG5nQ6A8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/u3SLXmOb2so?si=IIu26XkOLIFnCFUG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<div class="swiper-slide">
            	<iframe width="370" height="250" src="https://www.youtube.com/embed/9YCMdI4LKvI?si=Xp9YZGKQsWlFz6NB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        
        
      </div>
    </div>



  </section>

</th:block>
</html>