<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./baseLayout/base_m :: setContent( ~{ :: section} ) }">

  <section>
    
    <div class="siteMap__title"><span>사이트맵</span></div>

    <div class="siteMap__wrapper">

      <div class="siteMap__wrapper__content">

        <div class="siteMap__list">

          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>서비스 소개</span></div>
          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>게임</span></div>
          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>교육영상</span></div>

        </div>

        <div class="siteMap__list">

          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>구독 서비스</span></div>
          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>학습 서비스</span></div>
          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>스터디 그룹</span></div>

        </div>

        <div class="siteMap__list">

          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>고객센터</span></div>
          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>이용 약관</span></div>
          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>개인정보처리방침</span></div>

        </div>

        <div class="siteMap__list">

          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>한국기원</span></div>
          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>찾아오시는 길</span></div>
          <div class="siteMap__item"><img id="site__img" src="/img/KBA_mascot_black.png" alt="마스코트"><span>홈</span></div>

        </div>

      </div>

    </div>

  </section>

 </th:block>
</html>