@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.regist__wrap{width: 100%; height: 100%; display: flex; align-items: center;}


/* 컨텐츠 등록 */
.regist__left{width: 60%; height: 100%; display: flex; flex-direction: column; border-right: 1px solid rgb(196, 195, 195);}
.regist__left__above{width: 100%; height: 13%; display: flex; align-items: center; justify-content: space-between; }
.regist__left__above span{font-size: 19px; font-weight: bold;}
.left__above__button{display: flex; align-items: center; margin-right: 40px;}
.left__above__button button{margin: 0px 5px; width: 80px;}

/* 영상 구분 선택 */
.regist__item__select{width: 100%; height: 5%; display: flex; align-items: center;}
.regist__item__select span{font-size: 13px; font-weight: bold; width: 15%;}
.item__subMenu{display: flex; align-items: center;width: 10%;}
.item__subMenu input{margin-right: 5px; width: 15%;}
.item__subMenu span{font-size: 12px; font-weight: bold; width: 90%;}

.regist__left__below{width: 100%; height:87%; display: flex; flex-direction: column;}
.regist__below__item{width: 100%; height: 10%; display: flex; align-items: center;} 
.regist__below__item span{font-size: 13px; font-weight: bold; width: 15%;}
.regist__below__item input{width: 70%; height: 60%;  border: none; border-bottom: 1px solid rgb(201, 201, 201); padding-left: 10px;  &:focus{outline: none;}}

.regist__item__date{width: 100%; height: 7%; display: flex; align-items: center;}
.regist__item__date span{font-size: 13px; font-weight: bold; width: 15%;}
.regist__item__date input{ border: none; width: 25%; height: 60%; border-bottom: 1px solid rgb(201, 201, 201); margin: 0px 5px; padding-left: 10px; &:focus{outline: none;} }

.regist__item__money{width: 100%; height: 7%; display: flex; align-items: center;}
.regist__item__money span{font-size: 13px; font-weight: bold; width: 15%; }
.regist__item__money input{width: 20%; height: 60%; border: none; border-bottom: 1px solid rgb(201, 201, 201); padding-left: 10px; font-size: 13px; font-weight: bold; &:focus{outline: none;}}

.regist__item__textArea{width: 100%; height: 13%; display: flex; position: relative;}
.regist__item__textArea span{font-size: 13px; height: 100%; font-weight: bold; width: 15%; position: absolute; top: 20px; left: 0;}
.regist__item__textArea textarea{width: 70%; height: 80px; position: absolute; left: 130px; top: 20px; resize: none;  &:focus{outline: none;} }
#Learning__textArea{height: 120px;}

.regist__item__file{width: 100%; height: 20%; display: flex; align-items: center; margin-top: 5px;}
.regist__item__file span{font-size: 13px; font-weight: bold; width: 15%; }


.regist__item__learning__file{width: 100%; height: 20%; display: flex; align-items: center; margin-top: 70px;}
.regist__item__learning__file span{font-size: 13px; font-weight: bold; width: 15%; }

.dropBox {width: 41%;height: 60%; margin: .6rem; overflow: auto;display: flex;justify-content: center;align-items: center;border-radius: 5px;border: 4px dashed #ddd;user-select: none;transition: 0.4s;}
/* 드롭 반응 */
.dropBox.active {background: #ddd;}
.dropBox h1 {font-size: 1.8rem;}
/* ----------- */




.regist__right{width: 40%; height: 100%; display: flex; align-items: center; justify-content: center;}
.regist__right__wrapper{width: 95%; height: 95%; display: flex; align-items: center; justify-content: center;}
.regist__content__post{width: 70%; height: 40%; position: relative;}

.regist__content__post img{width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
#post__type{width: 20%; height: 10%; font-size: 12px; font-weight: bold; position: absolute; left: 5px; top: 10px; background-color: rgb(236, 234, 234); display: flex; align-items: center; justify-content: center; border-radius: 5px;}
#post__title{width: 100%; height: 30%; font-size: 25px; font-weight: bold; position: absolute; bottom: 0; left: 0; background-color: rgb(223, 223, 223); opacity: 0.8; display: flex; align-items: center; justify-content: center;}
#post__level{width: 20%; height: 10%; font-size: 12px; position: absolute; left: 95px; top: 10px; font-size: 14px; color: white; font-weight: bold; background-color: rgb(41, 69, 228); display: flex; align-items: center; justify-content: center; border-radius: 5px; }
#post__count{width: 20%; height: 10%; font-size: 12px; position: absolute; right: 5px; top: 10px; font-size: 14px; color: white; font-weight: bold; background-color: rgb(41, 69, 228); display: flex; align-items: center; justify-content: center; border-radius: 5px; }