.regist__wrap{width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; }


.score__header{width: 98%; height: 7%; display: flex; align-items: center; border-bottom: 1px solid rgb(216, 216, 216);}
.score__header span{font-size: 19px; font-weight: bold;}


.score__wrap{width: 98%; height: 93%; display: flex; flex-direction: column;}

.score__wrap__above{width: 100%; height: 47.5%; border-bottom: 1px solid rgb(216, 216, 216);}

.score__title1{width: 100%; height: 15%; display: flex; align-items: center;}
.score__title1 span{font-weight: bold;}
.score__search1{display: flex; align-items: center; margin-left: 20px;}
#scoreInput1{width: 300px; height: 35px; padding-left: 15px; border: none; border-bottom: 1px solid rgb(216, 216, 216); &:focus{outline: none;}}
.score__search1 button{width: 90px; height: 35px; margin: 0px 10px; border: none; background-color: rgb(89, 123, 236); color: white;}
.score__search1 button:hover{background-color: rgb(71, 108, 231);}


.score__table{width: 100%; height: 82%; display: flex; flex-direction: column; }
.score__thead{width: 100%; height: 15%; display: flex; align-items: center; background-color: rgb(89, 123, 236);}
.score__tbody{width: 100%; height: 85%; display: block; overflow-y: auto; border-bottom: 3px solid rgb(211, 211, 212); border-left: 3px solid rgb(211, 211, 212);}
.score__tbody__content{width: 100%; height: 20%; display: flex; align-items: center; border-bottom: 1px solid rgb(211, 211, 212);}

.score__thead__one{width: 3%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}
.score__thead__two{width: 20%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241); }
.score__thead__three{width: 50%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}
.score__thead__four{width: 5%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}
.score__thead__five{width: 11%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}
.score__thead__six{width: 11%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}

.score__tbody__one{width: 3%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody__two{width: 20%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 13px; border-right: 1px solid rgb(211, 211, 212); }
.score__tbody__three{width: 50%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody__four{width: 5%; height: 100%; display: flex; align-items: center; justify-content: center;  font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody__five{width: 11%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody__six{width:  11%; height: 100%; display: flex; align-items: center; justify-content: center;  font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}

/************************************************************************/

.transfer__wrap__below{width: 100%; height: 50%;}

.score__title2{width: 100%; height: 15%; display: flex; align-items: center; justify-content: space-between;}
.score__title2 span{font-weight: bold;}
.score__title2 button{width: 100px; height: 35px; border: none; background-color: rgb(89, 123, 236); color: white;}
.score__title2 button:hover{background-color: rgb(71, 108, 231);}

.score__table2{width: 100%; height: 82%; display: flex; flex-direction: column; }
.score__thead2{width: 100%; height: 15%; display: flex; align-items: center; background-color: rgb(89, 123, 236);}
.score__tbody2{width: 100%; height: 85%; display: block; overflow-y: auto; border-bottom: 3px solid rgb(211, 211, 212); border-left: 3px solid rgb(211, 211, 212);}
.score__tbody2__content{width: 100%; height: 20%; display: flex; align-items: center; border-bottom: 1px solid rgb(211, 211, 212);}

.score__thead2__one{width: 4%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}
.score__thead2__two{width: 15%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241); }
.score__thead2__three{width: 15%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}
.score__thead2__four{width: 27%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}
.score__thead2__five{width: 27%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}
.score__thead2__six{width: 12%; height: 100%; display: flex; align-items: center; justify-content: center; color: white; font-size: 13px; border-right: 1px solid rgb(58, 58, 241);}

.score__tbody2__one{width: 4%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody2__two{width: 15%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 13px; border-right: 1px solid rgb(211, 211, 212); }
.score__tbody2__three{width: 15%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody2__four{width: 27%; height: 100%; display: flex; align-items: center; justify-content: center;  font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody2__five{width: 27%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody2__six{width:  12%; height: 100%; display: flex; align-items: center; justify-content: center;  font-size: 13px; border-right: 1px solid rgb(211, 211, 212);}
.score__tbody2__six select{width: 50%; height: 25px; padding-left: 15px; border: none; border-bottom: 1px solid rgb(211, 211, 212);}
.score__tbody2__six select:focus{ outline-color: rgb(89, 123, 236);}
